node_modules/
miniprogram_npm/

project.config.json
project.private.config.json

config/

cloudfunctions/*/node_modules/
cloudfunctions/*/pay-config.json
cloudfunctions/*/admin-config.json

*.log

.DS_Store
Thumbs.db
